# set jdk path (os x)
# source: http://superuser.com/a/568016/64151
function setjdk() {
  if [ $# -ne 0 ]; then
    removeFromPath '/System/Library/Frameworks/JavaVM.framework/Home/bin'
    if [ -n "${JAVA_HOME+x}" ]; then
      removeFromPath $JAVA_HOME
    fi
    export JAVA_HOME=`/usr/libexec/java_home -v $@`
    export PATH=$JAVA_HOME/bin:$PATH
  fi
}

function removeFromPath() {
  export PATH=$(echo $PATH | sed -E -e "s;:$1;;" -e "s;$1:?;;")
}

function proxy_on() {
  # assumes PROXY_SERVER is an existing environment variable
  # pointing to your (corporate) proxy server
  export {HTTP,HTTPS,FTP}_PROXY=$PROXY_SERVER
  export {http,https,ftp}_proxy=$PROXY_SERVER
  export {NO_PROXY,no_proxy}="localhost,127.0.0.1"
  git config --global http.proxy $HTTP_PROXY
}

function proxy_off() {
  unset {HTTP,HTTPS,FTP,NO}_PROXY
  unset {http,https,ftp,no}_proxy
  git config --global --unset http.proxy
}
